# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [1]:
import pandas as pd
import numpy as np
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB', 'BB','BB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah','Stefan','Fred'],
       'Sales':[200.0,120.0,340.0,124.0,243.0,350.0, 150.0, 315]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  Company   Person  Sales
0    GOOG      Sam  200.0
1    GOOG  Charlie  120.0
2    MSFT      Amy  340.0
3    MSFT  Vanessa  124.0
4      FB     Carl  243.0
5      FB    Sarah  350.0
6      BB   Stefan  150.0
7      BB     Fred  315.0

** Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:**

In [5]:
df.groupby("Company")

You can save this object as a new variable:

In [6]:
by_company = df.groupby("Company")

In [7]:
by_company.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
BB        2.0  232.5  116.672619  150.0  191.25  232.5  273.75  315.0
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

And then call aggregate methods off the object:

In [8]:
by_company.min()

          Person  Sales
Company
BB          Fred  150.0
FB          Carl  243.0
GOOG     Charlie  120.0
MSFT         Amy  124.0

More examples of aggregate methods:

In [9]:
by_company.max()

          Person  Sales
Company
BB        Stefan  315.0
FB         Sarah  350.0
GOOG         Sam  200.0
MSFT     Vanessa  340.0

In [9]:
by_company.count()

         Person  Sales
Company
BB            2      2
FB            2      2
GOOG          2      2
MSFT          2      2

In [10]:
by_company.describe().transpose()

Company              BB          FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000    2.000000
      mean   232.500000  296.500000  160.000000  232.000000
      std    116.672619   75.660426   56.568542  152.735065
      min    150.000000  243.000000  120.000000  124.000000
      25%    191.250000  269.750000  140.000000  178.000000
      50%    232.500000  296.500000  160.000000  232.000000
      75%    273.750000  323.250000  180.000000  286.000000
      max    315.000000  350.000000  200.000000  340.000000

In [11]:
by_company.describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

In [11]:
by_company.mean()

TypeError: Could not convert StefanFred to numeric

In [ ]:
## What causes this sort of error?

Tentar calcular media de objeto

In [12]:
by_company.std()

ValueError: could not convert string to float: 'Sam'

In [14]:
## What went wrong?